.header {
    padding: 0.5rem 2rem;
    display: flex;
    margin-bottom: -34px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    display: flex;
}

.title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 450;
    font-size: 50px;
    /* -webkit-background-clip: text;
    background-clip: text;
    color: transparent; Hide the original text color
    background-image: linear-gradient(to right, rgb(232, 127, 34),  rgb(63, 92, 207), rgb(232, 127, 34)); 
    -webkit-text-fill-color: transparent; */
    padding-top: -1.0%;
    display: flex;
    align-items: center;
    color: rgb(240, 243, 247);
}

.title.underline {
    text-decoration: underline;
    text-decoration-color: #f0f3f7;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.2em;
    text-decoration-skip-ink: none;
    text-decoration-style: solid;
    text-decoration-line: underline;
}
