.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 10s ease infinite alternate;
    -moz-animation: animatedgradient 10s ease infinite alternate;
    animation: animatedgradient 10s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background-image: 
        url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  .gradient-multiline {
    position: relative;
    width: full;
    margin: 20px auto;
    background-color: 'bg-background';
    text-align: center;
    line-height: 1.2;
    overflow:hidden;
  }
    
  .gradient-multiline span {
    color: #fff;
    background-color: #000;
  
    padding: 0.225rem 0.225rem;
  
    /* Needs prefixing */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  
  @supports(mix-blend-mode: lighten) {
    
    .gradient-multiline::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background: linear-gradient(60deg, #e56611, #eb9f07);
  
      mix-blend-mode: lighten;
    }
    
  }
  
  
  .text-outline {
    text-shadow: 
      1px 1px 0 #ea911b, 
      -1px -1px 0 #ea911b, 
      1px -1px 0 #ea911b, 
      -1px 1px 0 #ea911b;
  }

  .container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


h1 {
	color: mix(#fff, #e91e63, 85%);
	font-size: 10vw ;  
	font-weight: 900;
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
		0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
		0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
		0.015em 0.015em mix(#fff, #e91e63, 64%), 
		0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
		0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
		0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
		0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
}

